<div class="container">
    <div class="row">
      <div class="col-lg-4 mb-4 mb-lg-0">
        <h5>About Us</h5>
        <p>Your Job Portal is dedicated to connecting employers with talented professionals. We strive to make the job search and hiring process seamless for everyone.</p>
      </div>
      <div class="col-lg-4 mb-4 mb-lg-0">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="{% url 'home' %}" class="text-white">Home</a></li>
          <li><a href="#" class="text-white">Jobs</a></li>
          <li><a href="#" class="text-white">Employers</a></li>
          <li><a href="#" class="text-white">Candidates</a></li>
          <li><a href="#" class="text-white">Contact Us</a></li>
        </ul>
      </div>
      <div class="col-lg-4">
        <h5>Contact Us</h5>
        <p>Email: informmehedi@gmail.com</p>
        <p>Phone: (123) 456-7890</p>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col">
        <p class="text-center">© 2023 Your Job Portal. All rights reserved.</p>
      </div>
    </div>
  </div>