{% extends "base.html" %}


{% block title %}
  Home- JobPortal
{% endblock title %}

{% block content %}
{% include "slider.html" %}

<div class="container mt-5">
  <div class="row">
      <div class="col">
        <h3 class="text-center text-success mb-4">Latest Job</h3>
      </div>
  <div class="row">
    {% for j in jobs|slice:":6" %}
          <div class="col-md-4 mb-4">
              <div class="card shadow h-100">
                  <img src="/{{j.job_image}}" class="card-img-top img-fluid"style="height: 220px" alt="Job Title">
                  <div class="card-body">
                      <h5 class="card-title text-success">{{j.job_title}}</h5>
                      <p class="card-text">{{ j.description | truncatewords:35 }}</p>
                      <h6 class='-mt-5'>{{j.location}}</h6>
                  </div>          
                  <div class="mt-auto card-footer">
                      <a href="#" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#jobModal{{j.id}}">View Details</a>
                  </div>
              </div>
          </div>

          <!-- Modal -->
          <div class="modal fade" id="jobModal{{j.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered custom-modal-width">
                  <div class="modal-content">
                      <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">{{j.job_title}}</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">

                          <img src="/{{j.job_image}}"class="card-img-top" alt="Job Title">
                          <p>{{j.create_at}}</p>
                          <h5><strong class='text-success'>Company: </strong> {{j.company_name}}</h5>
                          <p><strong>Description: </strong>{{j.description}}</p>
                          <h6><strong>Location: </strong>{{j.location}}</h6>
                          
                          <!-- Add additional details here -->
                      </div>
                      <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          {% if user.user_type == 'Applicant' %}
                            <a href="{% url 'applyPage' j.id %}" class="btn btn-primary">Apply Now</a>
                        {% endif %}
                        
                        {% if user.user_type == 'Recruiter' and user.id == j.job_creator.id %}
                            <a href="{% url 'editPage' j.id %}" class="btn btn-secondary">Edit</a>
                            <a href="{% url "deletePage" j.id %} " class="btn btn-danger">Delete</a>
                        {% endif %}
                      </div>
                  </div>
              </div>
          </div>
      {% endfor %}
  </div>

</div>
<div class="container">
  <div class="row justify-content-center mt-4">
    <a href="{% url 'viewjobPage' %}" class="btn btn-success">More Latest Jobs</a>
  </div>
</div>





<div class="container mt-5 py-4 bg-white">
  <div class="row">
    <h1 class="section__title font-bold text-center">WHAT CAREER AREA INTERESTS YOU?</h1>
    <p class="section__sub-title text-center">
Whoever you are, wherever you are, doing good is everyone’s business. Discover how you can be a part of that change by choosing a career path that interests you the most.
      </p>
  </div>

  <div class="row mt-3">
    {% for c in career %}
    <div class="col-md-4 mb-4">
      <div class="card shadow h-100 text-center py-5">
          <img src="/{{c.careerImage}}" class="card-img-top img-fluid rounded-circle mx-auto" style="width: 150px; height: 150px;" alt="Job Title">
          <div class="card-body">
              <h2 class="program-card__title font-medium">{{c.title}}</h2>
          </div>          
      </div>
  </div>
  
    {% endfor %}
    <div class="mt-auto card-footer text-center">
      <a href="{% url 'viewjobPage' %}" class="btn btn-success" >View All Jobs</a>
  </div>
  </div>
</div>
{% endblock content %}