{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="{% url 'home' %}"><img class='w-25' src="{% static '/img/logo.png' %}" alt="f"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                  <a class="nav-link active" href="{% url 'home' %}">Home</a>
              </li>
              {% if user.user_type == 'Recruiter' %}
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'add_job_Page' %}">Add Job</a>
                  </li>
                  <li class="nav-item">
                      <a href="{% url "viewjobPage" %}" class="nav-link">View Job</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'ProfilePage' %}">Profile</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                  </li>
              {% elif user.user_type == 'Applicant' %}
                  <li class="nav-item">
                      <a href="{% url "viewjobPage" %}" class="nav-link">View Job</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'ProfilePage' %}">Profile</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'Applied_Job_By_Applicant' %}">Applied Job</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                  </li>
              {% else %}
                  <li class="nav-item">
                      <a href="{% url "viewjobPage" %}" class="nav-link">View Job</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'login' %}">Login</a>
                  </li>
              {% endif %}
          </ul>
          {% if user.user_type == 'Applicant' %}
              <form method="GET" action="{% url 'searchResultsPage' %}" class="search-form d-flex" role="search">
                  <input type="text" name="search_query" placeholder="Search Jobs" class="form-control me-2" aria-label="Search">
                  <button type="submit" class="btn btn-outline-light">Search</button>
              </form>
          {% endif %}
      </div>
  </div>
</nav>
