{% extends 'base.html' %}
{% load static %}
{% block title %}Add Job{% endblock title %}


{% block content %}


<div class="container mt-5">
    <form action="{% url 'add_job_Page' %}" method="POST"enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            <label for="jobTitle" class="form-label">Job Title:</label>
            <input type="text" class="form-control" id="jobTitle" name="jobTitle" required>
        </div>

        <div class="mb-3">
            <label for="companyName" class="form-label">Company Name:</label>
            <input type="text" class="form-control" id="companyName" name="companyName" required>
        </div>

        <div class="mb-3">
            <label for="location" class="form-label">Location:</label>
            <input type="text" class="form-control" id="location" name="location" required>
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Description:</label>
            <textarea class="form-control" id="description" name="description" rows="4" required></textarea>
        </div>
        <div class="mb-3">
            <label for="job_image" class="form-label">Job Cover:</label>
            <input type="file" id="job_image" name="job_image" class="form-control">
        </div>

        <button type="submit" class="btn btn-primary">Create a New Job</button>
    </form>
</div>

{% endblock content %}