{% extends "base.html" %}
{% block title %}Change Password{% endblock title %}
{% block content %}
<div class="container mt-5">
    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="card shadow p-3 mb-5 bg-white rounded" style="max-width: 400px;">
            <div class="card-body text-center">
                <h2 class="card-title">Change Password</h2>

                {% if messages %}
                    {% for message in messages %}
                        {% if message.tags == 'error' %}
                            <p class="text-danger">{{ message }}</p>
                        {% endif %}
                    {% endfor %}
                {% endif %}

                <form action="{% url 'changePasswordPage' %}" method="post" class="form-group">
                    {% csrf_token %}
                    
                    <div class="mb-3">
                        <label for="old_password" class="form-label">Old Password:</label>
                        <input type="password" id="old_password" name="old_password" class="form-control" required>
                    </div>

                    <div class="mb-3">
                        <label for="new_password" class="form-label">New Password:</label>
                        <input type="password" id="new_password" name="new_password" class="form-control" required>
                    </div>

                    <div class="mb-3">
                        <label for="confirm_password" class="form-label">Confirm Password:</label>
                        <input type="password" id="confirm_password" name="confirm_password" class="form-control" required>
                    </div>

                    <button type="submit" class="btn btn-primary">Change Password</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
